main.app-main {
    margin: 0;
    padding: 0;
    text-align: center;
}

section.main-content {
    min-height: 85vh;
    padding: 2em;
    background: linear-gradient(62deg, #8EC5FC, #E0C3FC);
}
main.app-main a {
    text-decoration: none;
}

main.app-main a:focus {
    outline: none;
}

main.app-main header {
    height: 10vh;
    min-height: 5em;
    width: 100%;
    background: var(--bs-primary);
    display: flex;
    padding: 1em 5em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px darkblue;
}

main.app-main header > div.logo {
    border-left: 3px solid white;
    border-top: 1px solid white;
    border-top-left-radius: 15px;
    padding-top: 5px;
    padding-left: 10px;
}

main.app-main header > div.logo > a {
    color: white;
    font-size: 2em;
}

main.app-main header > div.links {
    display: flex;
    width: fit-content;
    gap: 0 10px;
}

main.app-main header > div.links > a {
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    border: 3px solid darkblue;
    background: #3b89fd;
}

main.app-main header > div.links > a.active {
    background: darkblue;
}

main.app-main header > div.links > a:hover {
    background: darkblue;
}

main.app-main footer {
    background: var(--bs-body-color);
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
